*{
    margin: 0;
    padding: 0;
}

.content{
    display:flex;
    display:inline-block;
    color:black;
    margin-left: 5%;
    margin-top:12%;
}

.content h1{
    font-family: Montserrat;
    font-size: 55;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 50px;
}

h1{
    font-size: 62px;
}

.content p{
    color:#413D3D;
    font-family: Montserrat;
    font-size: 31px;
    font-weight:300;
    margin-bottom: 30px;
}

.content .btn{
    display: inline-block;
    background: linear-gradient(60deg,#5BECFA,#FFDDD2)

}

.Landing-image{
    height:70%;
    width: auto;
    position: absolute;
    bottom: 12%;
    right: 8%;
}

.scroll-arrow-container {
    position: relative;
    height: 20vh;
}

.scroll-arrow-container a {
    position: absolute;
    left: 50%;
    bottom: 25%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000;
    transition: opacity .3s;
}

.scroll-arrow-container a:hover {
    opacity: .5;
}

.scroll-arrow-container a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: arrow-anim 1.5s infinite;
    animation: arrow-anim 1.5s infinite;
}

@-webkit-keyframes arrow-anim {
  0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes arrow-anim {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0, 0.2);
}

.btn-white {
    background-color: white;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-white::after {
    background-color: white;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(+100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide {
    height: 500px;
}

/*Footer Styles*/
footer div {
    background-color: #4478e3;
    margin: -5px 0px 0px 0px;
    padding: 0px;
    color: #fff;
    text-align: center;
}

svg {
    width: 100%;
    overflow: visible;
}

.gooeff {
    filter: url(#goo);
}

.wave {
    animation: wave 4s linear;
    animation-iteration-count:infinite;
    fill: #4478e3;
}

#wave2 {
    animation-duration: 5s;
    animation-direction: reverse;
    opacity: .6;
}

#wave3 {
    animation-duration: 7s;
    opacity: .3;
}

@keyframes wave {
  to {transform: translateX(-100%);}
}
